# Required
UMASS_EMAIL=
UMASS_PASSWORD=

# Optional
# PORT=3007
# KEEPALIVE_INTERVAL=45000
# COOKIE_PATH=.cache/cookies.json
# BROWSER_DATA_DIR=.browser-data
# API_KEY=your_api_key_here
# ENABLED=true
